cdxconnector/src/main/resources/wsdl/CDARequest/CDARequest0.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:bccdx.ca" xmlns:tns="urn:bccdx.ca" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import namespace="urn:hl7-org:v3" schemaLocation="CDARequest1.xsd"/><xs:element name="distributionStatus" type="tns:BCCDXDistributionStatus"/><xs:complexType name="BCCDXDistributionStatus"><xs:annotation><xs:appinfo><keepNamespaceDeclarations>xmlns</keepNamespaceDeclarations></xs:appinfo></xs:annotation><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="q1:realmCode" xmlns:q1="urn:hl7-org:v3"/><xs:element maxOccurs="1" minOccurs="0" ref="q2:typeId" xmlns:q2="urn:hl7-org:v3"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="q3:templateId" xmlns:q3="urn:hl7-org:v3"/><xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="q4:CE" xmlns:q4="urn:hl7-org:v3"/><xs:element maxOccurs="1" minOccurs="0" name="statusTime" type="q5:TS" xmlns:q5="urn:hl7-org:v3"/></xs:sequence><xs:attribute name="nullFlavor" type="q6:NullFlavor" xmlns:q6="urn:hl7-org:v3"/></xs:complexType></xs:schema>