cdxconnector/src/main/resources/wsdl/CDASubmit/CDASubmit54.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
           xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CDASubmit55.xsd"/>
    <xs:annotation>
        <xs:documentation>
            Copyright (c) 2001, 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.

            Redistribution and use in source and binary forms, with or without
            modification, are permitted provided that the following conditions
            are met:
            1. Redistributions of source code must retain the above copyright
            notice, this list of conditions and the following disclaimer.
            2. Redistributions in binary form must reproduce the above copyright
            notice, this list of conditions and the following disclaimer in the
            documentation and/or other materials provided with the distribution.
            3. All advertising materials mentioning features or use of this software
            must display the following acknowledgement:
            This product includes software developed by Health Level Seven.

            THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
            ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
            IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
            ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
            FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
            DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
            OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
            HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
            LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
            OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
            SUCH DAMAGE.

            Generated by $Id: datatypes-base.xsd,v 1.1 2007/03/20 02:42:09 wbeeler Exp $
        </xs:documentation>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation>$Id: datatypes-base.xsd,v 1.1 2007/03/20 02:42:09 wbeeler Exp $
            Generated by $Id: datatypes-base.xsd,v 1.1 2007/03/20 02:42:09 wbeeler Exp $
        </xs:documentation>
    </xs:annotation>
    <xs:complexType abstract="true" name="ANY">
        <xs:annotation>
            <xs:documentation>
                Defines the basic properties of every data value. This
                is an abstract type, meaning that no value can be just
                a data value without belonging to any concrete type.
                Every concrete type is a specialization of this
                general abstract DataValue type.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="nullFlavor" type="q1:NullFlavor" use="optional" xmlns:q1="urn:hl7-org:v3">
            <xs:annotation>
                <xs:documentation>
                    An exceptional value expressing missing information
                    and possibly the reason why the information is missing.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="bl">
        <xs:annotation>
            <xs:documentation>
                The Boolean type stands for the values of two-valued logic.
                A Boolean value can be either true or
                false, or, as any other value may be NULL.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean">
            <xs:pattern value="true|false"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BL">
        <xs:annotation>
            <xs:documentation>
                The Boolean type stands for the values of two-valued logic.
                A Boolean value can be either true or
                false, or, as any other value may be NULL.
            </xs:documentation>
            <xs:appinfo>
                <sch:pattern name="validate BL">
                    <sch:rule abstract="true" id="rule-BL">
                        <sch:report test="(@nullFlavor or @value) and not(@nullFlavor and @value)"/>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q2:ANY" xmlns:q2="urn:hl7-org:v3">
                <xs:attribute name="value" type="q2:bl" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="bn">
        <xs:annotation>
            <xs:documentation>
                The BooleanNonNull type is used where a Boolean cannot
                have a null value. A Boolean value can be either
                true or false.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="q3:bl" xmlns:q3="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:complexType name="ANYNonNull">
        <xs:annotation>
            <xs:documentation>
                The BooleanNonNull type is used where a Boolean cannot
                have a null value. A Boolean value can be either
                true or false.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:restriction base="q4:ANY" xmlns:q4="urn:hl7-org:v3">
                <xs:attribute name="nullFlavor" type="q4:NullFlavor" use="prohibited"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BN">
        <xs:annotation>
            <xs:documentation>
                The BooleanNonNull type is used where a Boolean cannot
                have a null value. A Boolean value can be either
                true or false.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q5:ANYNonNull" xmlns:q5="urn:hl7-org:v3">
                <xs:attribute name="value" type="q5:bn" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" mixed="true" name="BIN">
        <xs:annotation>
            <xs:documentation>
                Binary data is a raw block of bits. Binary data is a
                protected type that MUST not be used outside the data
                type specification.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q6:ANY" xmlns:q6="urn:hl7-org:v3">
                <xs:sequence><xs:any maxOccurs="1" minOccurs="0"/></xs:sequence> <!-- HACK: workaround to jaxb bug https://github.com/eclipse-ee4j/jaxb-ri/issues/792 -->
                <xs:attribute default="TXT" name="representation" type="q6:BinaryDataEncoding" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the representation of the binary data that
                            is the content of the binary data value.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="bin">
        <xs:annotation>
            <xs:documentation>
                Binary data is a raw block of bits. Binary data is a
                protected type that MUST not be used outside the data
                type specification.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:simpleType name="BinaryDataEncoding">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="B64"/>
            <xs:enumeration value="TXT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType mixed="true" name="ED">
        <xs:annotation>
            <xs:documentation>
                Data that is primarily intended for human interpretation
                or for further machine processing is outside the scope of
                HL7. This includes unformatted or formatted written language,
                multimedia data, or structured information as defined by a
                different standard (e.g., XML-signatures.) Instead of the
                data itself, an ED may contain
                only a reference (see TEL.) Note
                that the ST data type is a
                specialization of
                when the is text/plain.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q7:BIN" xmlns:q7="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="reference" type="q7:TEL">
                        <xs:annotation>
                            <xs:documentation>
                                A telecommunication address (TEL), such as a URL
                                for HTTP or FTP, which will resolve to precisely
                                the same binary data that could as well have been
                                provided as inline data.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="thumbnail" type="q7:thumbnail"/>
                </xs:sequence>
                <xs:attribute default="text/plain" name="mediaType" type="q7:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Identifies the type of the encapsulated data and
                            identifies a method to interpret or render the data.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="language" type="q7:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            For character based information the language property
                            specifies the human language of the text.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="compression" type="q7:CompressionAlgorithm" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates whether the raw byte data is compressed,
                            and what compression algorithm was used.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="integrityCheck" type="q7:bin" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The integrity check is a short binary value representing
                            a cryptographically strong checksum that is calculated
                            over the binary data. The purpose of this property, when
                            communicated with a reference is for anyone to validate
                            later whether the reference still resolved to the same
                            data that the reference resolved to when the encapsulated
                            data value with reference was created.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="SHA-1" name="integrityCheckAlgorithm" type="q7:IntegrityCheckAlgorithm"
                              use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the algorithm used to compute the
                            integrityCheck value.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="thumbnail">
        <xs:annotation>
            <xs:documentation>
                A thumbnail is an abbreviated rendition of the full
                data. A thumbnail requires significantly fewer
                resources than the full data, while still maintaining
                some distinctive similarity with the full data. A
                thumbnail is typically used with by-reference
                encapsulated data. It allows a user to select data
                more efficiently before actually downloading through
                the reference.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:restriction base="q8:ED" xmlns:q8="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="reference" type="q8:TEL"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="thumbnail" type="q8:thumbnail"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="st">
        <xs:annotation>
            <xs:documentation>
                The character string data type stands for text data,
                primarily intended for machine processing (e.g.,
                sorting, querying, indexing, etc.) Used for names,
                symbols, and formal expressions.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType mixed="true" name="ST">
        <xs:annotation>
            <xs:documentation>
                The character string data type stands for text data,
                primarily intended for machine processing (e.g.,
                sorting, querying, indexing, etc.) Used for names,
                symbols, and formal expressions.
            </xs:documentation>
            <xs:appinfo>
                <sch:pattern name="validate ST">
                    <sch:rule abstract="true" id="rule-ST">
                        <sch:report test="(@nullFlavor or text()) and not(@nullFlavor and text())">
                            <p
                            >Text content is only allowed in non-NULL values.
                            </p>
                        </sch:report>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:restriction base="q9:ED" xmlns:q9="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="0" minOccurs="0" name="reference" type="q9:TEL"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="thumbnail" type="q9:ED"/>
                </xs:sequence>
                <xs:attribute fixed="TXT" name="representation" type="q9:BinaryDataEncoding"/>
                <xs:attribute fixed="text/plain" name="mediaType" type="q9:cs"/>
                <xs:attribute name="language" type="q9:cs" use="optional"/>
                <xs:attribute name="compression" type="q9:CompressionAlgorithm" use="prohibited"/>
                <xs:attribute name="integrityCheck" type="q9:bin" use="prohibited"/>
                <xs:attribute name="integrityCheckAlgorithm" type="q9:IntegrityCheckAlgorithm" use="prohibited"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="cs">
        <xs:annotation>
            <xs:documentation>
                Coded data in its simplest form, consists of a code.
                The code system and code system version is fixed by
                the context in which the value occurs. is used
                for coded attributes that have a single HL7-defined
                value set.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="[^\s]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CD">
        <xs:annotation>
            <xs:documentation>
                A concept descriptor represents any kind of concept usually
                by giving a code defined in a code system. A concept
                descriptor can contain the original text or phrase that
                served as the basis of the coding and one or more
                translations into different coding systems. A concept
                descriptor can also contain qualifiers to describe, e.g.,
                the concept of a &quot;left foot&quot; as a postcoordinated term built
                from the primary code &quot;FOOT&quot; and the qualifier &quot;LEFT&quot;.
                In exceptional cases, the concept descriptor need not
                contain a code but only the original text describing
                that concept.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q10:ANY" xmlns:q10="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="originalText" type="q10:ED">
                        <xs:annotation>
                            <xs:documentation>
                                The text or phrase used as the basis for the coding.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="qualifier" type="q10:CR">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies additional codes that increase the
                                specificity of the primary code.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translation" type="q10:CD">
                        <xs:annotation>
                            <xs:documentation>
                                A set of other concept descriptors that translate
                                this concept descriptor into other code systems.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="code" type="q10:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, &quot;784.0&quot; is the code symbol of the ICD-9
                            code &quot;784.0&quot; for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="q10:uid" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="q10:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemVersion" type="q10:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            If applicable, a version descriptor defined
                            specifically for the given code system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="q10:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CE">
        <xs:annotation>
            <xs:documentation>
                Coded data, consists of a coded value (CV)
                and, optionally, coded value(s) from other coding systems
                that identify the same concept. Used when alternative
                codes may exist.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:restriction base="q11:CD" xmlns:q11="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="originalText" type="q11:ED">
                        <xs:annotation>
                            <xs:documentation>
                                The text or phrase used as the basis for the coding.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="0" minOccurs="0" name="qualifier" type="q11:CR"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translation" type="q11:CD">
                        <xs:annotation>
                            <xs:documentation>
                                A set of other concept descriptors that translate
                                this concept descriptor into other code systems.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="code" type="q11:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, &quot;784.0&quot; is the code symbol of the ICD-9
                            code &quot;784.0&quot; for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="q11:uid" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="q11:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemVersion" type="q11:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            If applicable, a version descriptor defined
                            specifically for the given code system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="q11:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CV">
        <xs:annotation>
            <xs:documentation>
                Coded data, consists of a code, display name, code system,
                and original text. Used when a single code value must be sent.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:restriction base="q12:CE" xmlns:q12="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="originalText" type="q12:ED">
                        <xs:annotation>
                            <xs:documentation>
                                The text or phrase used as the basis for the coding.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="0" minOccurs="0" name="translation" type="q12:CD"/>
                </xs:sequence>
                <xs:attribute name="code" type="q12:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, &quot;784.0&quot; is the code symbol of the ICD-9
                            code &quot;784.0&quot; for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="q12:uid" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="q12:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemVersion" type="q12:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            If applicable, a version descriptor defined
                            specifically for the given code system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="q12:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CS">
        <xs:annotation>
            <xs:documentation>
                Coded data, consists of a code, display name, code system,
                and original text. Used when a single code value must be sent.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:restriction base="q13:CV" xmlns:q13="urn:hl7-org:v3">
                <xs:attribute name="code" type="q13:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, &quot;784.0&quot; is the code symbol of the ICD-9
                            code &quot;784.0&quot; for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="q13:uid" use="prohibited"/>
                <xs:attribute name="codeSystemName" type="q13:st" use="prohibited"/>
                <xs:attribute name="codeSystemVersion" type="q13:st" use="prohibited"/>
                <xs:attribute name="displayName" type="q13:st" use="prohibited"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CO">
        <xs:annotation>
            <xs:documentation>
                Coded data, where the domain from which the codeset comes
                is ordered. The Coded Ordinal data type adds semantics
                related to ordering so that models that make use of such
                domains may introduce model elements that involve statements
                about the order of the terms in a domain.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q14:CV" xmlns:q14="urn:hl7-org:v3"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CR">
        <xs:annotation>
            <xs:documentation>
                A concept qualifier code with optionally named role.
                Both qualifier role and value codes must be defined by
                the coding system. For example, if SNOMED RT defines a
                concept &quot;leg&quot;, a role relation &quot;has-laterality&quot;, and
                another concept &quot;left&quot;, the concept role relation allows
                to add the qualifier &quot;has-laterality: left&quot; to a primary
                code &quot;leg&quot; to construct the meaning &quot;left leg&quot;.
            </xs:documentation>
            <xs:appinfo>
                <sch:pattern name="validate CR">
                    <sch:rule abstract="true" id="rule-CR">
                        <sch:report test="(value or @nullFlavor) and not(@nullFlavor and node())">
                            <p
                            >
                                A value component is required or else the
                                code role is NULL.
                            </p>
                        </sch:report>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q15:ANY" xmlns:q15="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="name" type="q15:CV">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the manner in which the concept role value
                                contributes to the meaning of a code phrase. For
                                example, if SNOMED RT defines a concept &quot;leg&quot;, a role
                                relation &quot;has-laterality&quot;, and another concept &quot;left&quot;,
                                the concept role relation allows to add the qualifier
                                &quot;has-laterality: left&quot; to a primary code &quot;leg&quot; to
                                construct the meaning &quot;left leg&quot;. In this example
                                &quot;has-laterality&quot; is .
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="q15:CD">
                        <xs:annotation>
                            <xs:documentation>
                                The concept that modifies the primary code of a code
                                phrase through the role relation. For example, if
                                SNOMED RT defines a concept &quot;leg&quot;, a role relation
                                &quot;has-laterality&quot;, and another concept &quot;left&quot;, the
                                concept role relation allows adding the qualifier
                                &quot;has-laterality: left&quot; to a primary code &quot;leg&quot; to
                                construct the meaning &quot;left leg&quot;. In this example
                                &quot;left&quot; is .
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute default="false" name="inverted" type="q15:bn" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates if the sense of the role name is inverted.
                            This can be used in cases where the underlying code
                            system defines inversion but does not provide reciprocal
                            pairs of role names. By default, inverted is false.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="SC">
        <xs:annotation>
            <xs:documentation>
                An ST that optionally may have a code attached.
                The text must always be present if a code is present. The
                code is often a local code.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q16:ST" xmlns:q16="urn:hl7-org:v3">
                <xs:attribute name="code" type="q16:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, &quot;784.0&quot; is the code symbol of the ICD-9
                            code &quot;784.0&quot; for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="q16:uid" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="q16:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemVersion" type="q16:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            If applicable, a version descriptor defined
                            specifically for the given code system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="q16:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="uid">
        <xs:annotation>
            <xs:documentation>
                A unique identifier string is a character string which
                identifies an object in a globally unique and timeless
                manner. The allowable formats and values and procedures
                of this data type are strictly controlled by HL7. At this
                time, user-assigned identifiers may be certain character
                representations of ISO Object Identifiers ()
                and DCE
                Universally Unique Identifiers ().
                HL7 also reserves
                the right to assign other forms of UIDs (,
                such as mnemonic
                identifiers for code systems.
            </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="q17:oid q17:uuid q17:ruid" xmlns:q17="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:simpleType name="oid">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="uuid">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ruid">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z][A-Za-z0-9\-]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="II">
        <xs:annotation>
            <xs:documentation>
                An identifier that uniquely identifies a thing or object.
                Examples are object identifier for HL7 RIM objects,
                medical record number, order id, service catalog item id,
                Vehicle Identification Number (VIN), etc. Instance
                identifiers are defined based on ISO object identifiers.
            </xs:documentation>
            <xs:appinfo>
                <sch:pattern name="validate II">
                    <sch:rule abstract="true" id="rule-II">
                        <sch:report test="(@root or @nullFlavor) and not(@root and @nullFlavor)">
                            A root component is required or else the II value is NULL.
                        </sch:report>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q18:ANY" xmlns:q18="urn:hl7-org:v3">
                <xs:attribute name="root" type="q18:uid" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A unique identifier that guarantees the global uniqueness
                            of the instance identifier. The root alone may be the
                            entire instance identifier.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="extension" type="q18:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A character string as a unique identifier within the
                            scope of the identifier root.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="assigningAuthorityName" type="q18:st" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A human readable name or mnemonic for the assigning
                            authority. This name may be provided solely for the
                            convenience of unaided humans interpreting an value
                            and can have no computational meaning. Note: no
                            automated processing must depend on the assigning
                            authority name to be present in any form.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayable" type="q18:bl" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies if the identifier is intended for human
                            display and data entry (displayable = true) as
                            opposed to pure machine interoperation (displayable
                            = false).
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="url">
        <xs:annotation>
            <xs:documentation>
                A telecommunications address specified according to
                Internet standard RFC 1738
                [http://www.ietf.org/rfc/rfc1738.txt]. The
                URL specifies the protocol and the contact point defined
                by that protocol for the resource. Notable uses of the
                telecommunication address data type are for telephone and
                telefax numbers, e-mail addresses, Hypertext references,
                FTP references, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:complexType abstract="true" name="URL">
        <xs:annotation>
            <xs:documentation>
                A telecommunications address specified according to
                Internet standard RFC 1738
                [http://www.ietf.org/rfc/rfc1738.txt]. The
                URL specifies the protocol and the contact point defined
                by that protocol for the resource. Notable uses of the
                telecommunication address data type are for telephone and
                telefax numbers, e-mail addresses, Hypertext references,
                FTP references, etc.
            </xs:documentation>
            <xs:appinfo>
                <sch:pattern name="validate URL">
                    <sch:rule abstract="true" id="rule-URL">
                        <sch:report test="(@nullFlavor or @value) and not(@nullFlavor and @value)"/>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q19:ANY" xmlns:q19="urn:hl7-org:v3">
                <xs:attribute name="value" type="q19:url" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ts">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}|([0-9]{9,14}|[0-9]{14,14}\.[0-9]+)([+\-][0-9]{1,4})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TS">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
            </xs:documentation>
            <xs:appinfo>
                <diff>PQ</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q20:QTY" xmlns:q20="urn:hl7-org:v3">
                <xs:attribute name="value" type="q20:ts" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TEL">
        <xs:annotation>
            <xs:documentation>
                A telephone number (voice or fax), e-mail address, or
                other locator for a resource (information or service)
                mediated by telecommunication equipment. The address
                is specified as a URL
                qualified by time specification and use codes that help
                in deciding which address to use for a given time and
                purpose.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q21:URL" xmlns:q21="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="useablePeriod" type="q21:SXCM_TS">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the periods of time during which the
                                telecommunication address can be used. For a
                                telephone number, this can indicate the time of day
                                in which the party can be reached on that telephone.
                                For a web address, it may specify a time range in
                                which the web content is promised to be available
                                under the given address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="use" type="q21:set_TelecommunicationAddressUse" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            One or more codes advising a system or user which
                            telecommunication address in a set of like addresses
                            to select for a given telecommunication need.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="ADXP">
        <xs:annotation>
            <xs:documentation>
                A character string that may have a type-tag signifying its
                role in the address. Typical parts that exist in about
                every address are street, house number, or post box,
                postal code, city, country but other roles may be defined
                regionally, nationally, or on an enterprise level (e.g. in
                military addresses). Addresses are usually broken up into
                lines, which are indicated by special line-breaking
                delimiter elements (e.g., DEL).
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q22:ST" xmlns:q22="urn:hl7-org:v3">
                <xs:attribute name="partType" type="q22:AddressPartType">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies whether an address part names the street,
                            city, country, postal code, post box, etc. If the type
                            is NULL the address part is unclassified and would
                            simply appear on an address label as is.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.delimiter">
        <xs:complexContent mixed="true">
            <xs:restriction base="q23:ADXP" xmlns:q23="urn:hl7-org:v3">
                <xs:attribute fixed="DEL" name="partType" type="q23:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.country">
        <xs:complexContent mixed="true">
            <xs:restriction base="q24:ADXP" xmlns:q24="urn:hl7-org:v3">
                <xs:attribute fixed="CNT" name="partType" type="q24:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.state">
        <xs:complexContent mixed="true">
            <xs:restriction base="q25:ADXP" xmlns:q25="urn:hl7-org:v3">
                <xs:attribute fixed="STA" name="partType" type="q25:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.county">
        <xs:complexContent mixed="true">
            <xs:restriction base="q26:ADXP" xmlns:q26="urn:hl7-org:v3">
                <xs:attribute fixed="CPA" name="partType" type="q26:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.city">
        <xs:complexContent mixed="true">
            <xs:restriction base="q27:ADXP" xmlns:q27="urn:hl7-org:v3">
                <xs:attribute fixed="CTY" name="partType" type="q27:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.postalCode">
        <xs:complexContent mixed="true">
            <xs:restriction base="q28:ADXP" xmlns:q28="urn:hl7-org:v3">
                <xs:attribute fixed="ZIP" name="partType" type="q28:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.streetAddressLine">
        <xs:complexContent mixed="true">
            <xs:restriction base="q29:ADXP" xmlns:q29="urn:hl7-org:v3">
                <xs:attribute fixed="SAL" name="partType" type="q29:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.houseNumber">
        <xs:complexContent mixed="true">
            <xs:restriction base="q30:ADXP" xmlns:q30="urn:hl7-org:v3">
                <xs:attribute fixed="BNR" name="partType" type="q30:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.houseNumberNumeric">
        <xs:complexContent mixed="true">
            <xs:restriction base="q31:ADXP" xmlns:q31="urn:hl7-org:v3">
                <xs:attribute fixed="BNN" name="partType" type="q31:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.direction">
        <xs:complexContent mixed="true">
            <xs:restriction base="q32:ADXP" xmlns:q32="urn:hl7-org:v3">
                <xs:attribute fixed="DIR" name="partType" type="q32:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.streetName">
        <xs:complexContent mixed="true">
            <xs:restriction base="q33:ADXP" xmlns:q33="urn:hl7-org:v3">
                <xs:attribute fixed="STR" name="partType" type="q33:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.streetNameBase">
        <xs:complexContent mixed="true">
            <xs:restriction base="q34:ADXP" xmlns:q34="urn:hl7-org:v3">
                <xs:attribute fixed="STB" name="partType" type="q34:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.streetNameType">
        <xs:complexContent mixed="true">
            <xs:restriction base="q35:ADXP" xmlns:q35="urn:hl7-org:v3">
                <xs:attribute fixed="STTYP" name="partType" type="q35:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.additionalLocator">
        <xs:complexContent mixed="true">
            <xs:restriction base="q36:ADXP" xmlns:q36="urn:hl7-org:v3">
                <xs:attribute fixed="ADL" name="partType" type="q36:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.unitID">
        <xs:complexContent mixed="true">
            <xs:restriction base="q37:ADXP" xmlns:q37="urn:hl7-org:v3">
                <xs:attribute fixed="UNID" name="partType" type="q37:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.unitType">
        <xs:complexContent mixed="true">
            <xs:restriction base="q38:ADXP" xmlns:q38="urn:hl7-org:v3">
                <xs:attribute fixed="UNIT" name="partType" type="q38:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.careOf">
        <xs:complexContent mixed="true">
            <xs:restriction base="q39:ADXP" xmlns:q39="urn:hl7-org:v3">
                <xs:attribute fixed="CAR" name="partType" type="q39:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.censusTract">
        <xs:complexContent mixed="true">
            <xs:restriction base="q40:ADXP" xmlns:q40="urn:hl7-org:v3">
                <xs:attribute fixed="CEN" name="partType" type="q40:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryAddressLine">
        <xs:complexContent mixed="true">
            <xs:restriction base="q41:ADXP" xmlns:q41="urn:hl7-org:v3">
                <xs:attribute fixed="DAL" name="partType" type="q41:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryInstallationType">
        <xs:complexContent mixed="true">
            <xs:restriction base="q42:ADXP" xmlns:q42="urn:hl7-org:v3">
                <xs:attribute fixed="DINST" name="partType" type="q42:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryInstallationArea">
        <xs:complexContent mixed="true">
            <xs:restriction base="q43:ADXP" xmlns:q43="urn:hl7-org:v3">
                <xs:attribute fixed="DINSTA" name="partType" type="q43:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryInstallationQualifier">
        <xs:complexContent mixed="true">
            <xs:restriction base="q44:ADXP" xmlns:q44="urn:hl7-org:v3">
                <xs:attribute fixed="DINSTQ" name="partType" type="q44:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryMode">
        <xs:complexContent mixed="true">
            <xs:restriction base="q45:ADXP" xmlns:q45="urn:hl7-org:v3">
                <xs:attribute fixed="DMOD" name="partType" type="q45:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.deliveryModeIdentifier">
        <xs:complexContent mixed="true">
            <xs:restriction base="q46:ADXP" xmlns:q46="urn:hl7-org:v3">
                <xs:attribute fixed="DMODID" name="partType" type="q46:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.buildingNumberSuffix">
        <xs:complexContent mixed="true">
            <xs:restriction base="q47:ADXP" xmlns:q47="urn:hl7-org:v3">
                <xs:attribute fixed="BNS" name="partType" type="q47:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.postBox">
        <xs:complexContent mixed="true">
            <xs:restriction base="q48:ADXP" xmlns:q48="urn:hl7-org:v3">
                <xs:attribute fixed="POB" name="partType" type="q48:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="adxp.precinct">
        <xs:complexContent mixed="true">
            <xs:restriction base="q49:ADXP" xmlns:q49="urn:hl7-org:v3">
                <xs:attribute fixed="PRE" name="partType" type="q49:AddressPartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="AD">
        <xs:annotation>
            <xs:documentation>
                Mailing and home or office addresses. A sequence of
                address parts, such as street or post office Box, city,
                postal code, country, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q50:ANY" xmlns:q50="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="delimiter" type="q50:adxp.delimiter"/>
                        <xs:element name="country" type="q50:adxp.country"/>
                        <xs:element name="state" type="q50:adxp.state"/>
                        <xs:element name="county" type="q50:adxp.county"/>
                        <xs:element name="city" type="q50:adxp.city"/>
                        <xs:element name="postalCode" type="q50:adxp.postalCode"/>
                        <xs:element name="streetAddressLine" type="q50:adxp.streetAddressLine"/>
                        <xs:element name="houseNumber" type="q50:adxp.houseNumber"/>
                        <xs:element name="houseNumberNumeric" type="q50:adxp.houseNumberNumeric"/>
                        <xs:element name="direction" type="q50:adxp.direction"/>
                        <xs:element name="streetName" type="q50:adxp.streetName"/>
                        <xs:element name="streetNameBase" type="q50:adxp.streetNameBase"/>
                        <xs:element name="streetNameType" type="q50:adxp.streetNameType"/>
                        <xs:element name="additionalLocator" type="q50:adxp.additionalLocator"/>
                        <xs:element name="unitID" type="q50:adxp.unitID"/>
                        <xs:element name="unitType" type="q50:adxp.unitType"/>
                        <xs:element name="careOf" type="q50:adxp.careOf"/>
                        <xs:element name="censusTract" type="q50:adxp.censusTract"/>
                        <xs:element name="deliveryAddressLine" type="q50:adxp.deliveryAddressLine"/>
                        <xs:element name="deliveryInstallationType" type="q50:adxp.deliveryInstallationType"/>
                        <xs:element name="deliveryInstallationArea" type="q50:adxp.deliveryInstallationArea"/>
                        <xs:element name="deliveryInstallationQualifier" type="q50:adxp.deliveryInstallationQualifier"/>
                        <xs:element name="deliveryMode" type="q50:adxp.deliveryMode"/>
                        <xs:element name="deliveryModeIdentifier" type="q50:adxp.deliveryModeIdentifier"/>
                        <xs:element name="buildingNumberSuffix" type="q50:adxp.buildingNumberSuffix"/>
                        <xs:element name="postBox" type="q50:adxp.postBox"/>
                        <xs:element name="precinct" type="q50:adxp.precinct"/>
                    </xs:choice>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="useablePeriod" type="q50:SXCM_TS">
                        <xs:annotation>
                            <xs:documentation>
                                A GTS specifying the
                                periods of time during which the address can be used.
                                This is used to specify different addresses for
                                different times of the year or to refer to historical
                                addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="use" type="q50:set_PostalAddressUse" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A set of codes advising a system or user which address
                            in a set of like addresses to select for a given purpose.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="isNotOrdered" type="q50:bl" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A boolean value specifying whether the order of the
                            address parts is known or not. While the address parts
                            are always a Sequence, the order in which they are
                            presented may or may not be known. Where this matters,
                            can be used to convey this
                            information.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="ENXP">
        <xs:annotation>
            <xs:documentation>
                A character string token representing a part of a name.
                May have a type code signifying the role of the part in
                the whole entity name, and a qualifier code for more detail
                about the name part type. Typical name parts for person
                names are given names, and family names, titles, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q51:ST" xmlns:q51="urn:hl7-org:v3">
                <xs:attribute name="partType" type="q51:EntityNamePartType">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates whether the name part is a given name, family
                            name, prefix, suffix, etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="qualifier" type="q51:set_EntityNamePartQualifier" use="optional">
                    <xs:annotation>
                        <xs:documentation>is a set of codes each of which specifies
                            a certain subcategory of the name part in addition to
                            the main name part type. For example, a given name may
                            be flagged as a nickname, a family name may be a
                            pseudonym or a name of public records.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="en.delimiter">
        <xs:complexContent mixed="true">
            <xs:restriction base="q52:ENXP" xmlns:q52="urn:hl7-org:v3">
                <xs:attribute fixed="DEL" name="partType" type="q52:EntityNamePartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="en.family">
        <xs:complexContent mixed="true">
            <xs:restriction base="q53:ENXP" xmlns:q53="urn:hl7-org:v3">
                <xs:attribute fixed="FAM" name="partType" type="q53:EntityNamePartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="en.given">
        <xs:complexContent mixed="true">
            <xs:restriction base="q54:ENXP" xmlns:q54="urn:hl7-org:v3">
                <xs:attribute fixed="GIV" name="partType" type="q54:EntityNamePartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="en.prefix">
        <xs:complexContent mixed="true">
            <xs:restriction base="q55:ENXP" xmlns:q55="urn:hl7-org:v3">
                <xs:attribute fixed="PFX" name="partType" type="q55:EntityNamePartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="en.suffix">
        <xs:complexContent mixed="true">
            <xs:restriction base="q56:ENXP" xmlns:q56="urn:hl7-org:v3">
                <xs:attribute fixed="SFX" name="partType" type="q56:EntityNamePartType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="EN">
        <xs:annotation>
            <xs:documentation>
                A name for a person, organization, place or thing. A
                sequence of name parts, such as given name or family
                name, prefix, suffix, etc. Examples for entity name
                values are &quot;Jim Bob Walton, Jr.&quot;, &quot;Health Level Seven,
                Inc.&quot;, &quot;Lake Tahoe&quot;, etc. An entity name may be as simple
                as a character string or may consist of several entity name
                parts, such as, &quot;Jim&quot;, &quot;Bob&quot;, &quot;Walton&quot;, and &quot;Jr.&quot;, &quot;Health
                Level Seven&quot; and &quot;Inc.&quot;, &quot;Lake&quot; and &quot;Tahoe&quot;.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q57:ANY" xmlns:q57="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="delimiter" type="q57:en.delimiter"/>
                        <xs:element name="family" type="q57:en.family"/>
                        <xs:element name="given" type="q57:en.given"/>
                        <xs:element name="prefix" type="q57:en.prefix"/>
                        <xs:element name="suffix" type="q57:en.suffix"/>
                    </xs:choice>
                    <xs:element maxOccurs="1" minOccurs="0" name="validTime" type="q57:IVL_TS">
                        <xs:annotation>
                            <xs:documentation>
                                An interval of time specifying the time during which
                                the name is or was used for the entity. This
                                accomodates the fact that people change names for
                                people, places and things.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="use" type="q57:set_EntityNameUse" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A set of codes advising a system or user which name
                            in a set of like names to select for a given purpose.
                            A name without specific use code might be a default
                            name useful for any purpose, but a name with a specific
                            use code would be preferred for that respective purpose.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="PN">
        <xs:annotation>
            <xs:documentation>
                A name for a person. A sequence of name parts, such as
                given name or family name, prefix, suffix, etc. PN differs
                from EN because the qualifier type cannot include LS
                (Legal Status).
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:extension base="q58:EN" xmlns:q58="urn:hl7-org:v3"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="ON">
        <xs:annotation>
            <xs:documentation>
                A name for an organization. A sequence of name parts.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:restriction base="q59:EN" xmlns:q59="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="delimiter" type="q59:en.delimiter"/>
                        <xs:element name="prefix" type="q59:en.prefix"/>
                        <xs:element name="suffix" type="q59:en.suffix"/>
                    </xs:choice>
                    <xs:element maxOccurs="1" minOccurs="0" name="validTime" type="q59:IVL_TS">
                        <xs:annotation>
                            <xs:documentation>
                                An interval of time specifying the time during which
                                the name is or was used for the entity. This
                                accomodates the fact that people change names for
                                people, places and things.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="use" type="q59:set_EntityNameUse" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A set of codes advising a system or user which name
                            in a set of like names to select for a given purpose.
                            A name without specific use code might be a default
                            name useful for any purpose, but a name with a specific
                            use code would be preferred for that respective purpose.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="TN">
        <xs:annotation>
            <xs:documentation>
                A restriction of entity name that is effectively a simple string used
                for a simple name for things and places.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="true">
            <xs:restriction base="q60:EN" xmlns:q60="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="validTime" type="q60:IVL_TS">
                        <xs:annotation>
                            <xs:documentation>
                                An interval of time specifying the time during which
                                the name is or was used for the entity. This
                                accomodates the fact that people change names for
                                people, places and things.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="QTY">
        <xs:annotation>
            <xs:documentation>is an abstract generalization
                for all data types (1) whose value set has an order
                relation (less-or-equal) and (2) where difference is
                defined in all of the data type's totally ordered value
                subsets. The quantity type abstraction is needed in
                defining certain other types, such as the interval and
                the probability distribution.
            </xs:documentation>
            <xs:appinfo>
                <diff>QTY</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q61:ANY" xmlns:q61="urn:hl7-org:v3"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="int">
        <xs:annotation>
            <xs:documentation>
                Integer numbers (-1,0,1,2, 100, 3398129, etc.) are precise
                numbers that are results of counting and enumerating.
                Integer numbers are discrete, the set of integers is
                infinite but countable. No arbitrary limit is imposed on
                the range of integer numbers. Two NULL flavors are
                defined for the positive and negative infinity.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:complexType name="INT">
        <xs:annotation>
            <xs:documentation>
                Integer numbers (-1,0,1,2, 100, 3398129, etc.) are precise
                numbers that are results of counting and enumerating.
                Integer numbers are discrete, the set of integers is
                infinite but countable. No arbitrary limit is imposed on
                the range of integer numbers. Two NULL flavors are
                defined for the positive and negative infinity.
            </xs:documentation>
            <xs:appinfo>
                <diff>INT</diff>
                <sch:pattern name="validate INT">
                    <sch:rule abstract="true" id="rule-INT">
                        <sch:report test="(@value or @nullFlavor) and not(@value and @nullFlavor)"/>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q62:QTY" xmlns:q62="urn:hl7-org:v3">
                <xs:attribute name="value" type="q62:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="real">
        <xs:annotation>
            <xs:documentation>
                Fractional numbers. Typically used whenever quantities
                are measured, estimated, or computed from other real
                numbers. The typical representation is decimal, where
                the number of significant decimal digits is known as the
                precision. Real numbers are needed beyond integers
                whenever quantities of the real world are measured,
                estimated, or computed from other real numbers. The term
                &quot;Real number&quot; in this specification is used to mean
                that fractional values are covered without necessarily
                implying the full set of the mathematical real numbers.
            </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:decimal xs:double"/>
    </xs:simpleType>
    <xs:complexType name="REAL">
        <xs:annotation>
            <xs:documentation>
                Fractional numbers. Typically used whenever quantities
                are measured, estimated, or computed from other real
                numbers. The typical representation is decimal, where
                the number of significant decimal digits is known as the
                precision. Real numbers are needed beyond integers
                whenever quantities of the real world are measured,
                estimated, or computed from other real numbers. The term
                &quot;Real number&quot; in this specification is used to mean
                that fractional values are covered without necessarily
                implying the full set of the mathematical real numbers.
            </xs:documentation>
            <xs:appinfo>
                <diff>REAL</diff>
                <sch:pattern name="validate REAL">
                    <sch:rule abstract="true" id="rule-REAL">
                        <sch:report test="(@nullFlavor or @value) and not(@nullFlavor and @value)"/>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q63:QTY" xmlns:q63="urn:hl7-org:v3">
                <xs:attribute name="value" type="q63:real" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PQR">
        <xs:annotation>
            <xs:documentation>
                A representation of a physical quantity in a unit from
                any code system. Used to show alternative representation
                for a physical quantity.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q64:CV" xmlns:q64="urn:hl7-org:v3">
                <xs:attribute name="value" type="q64:real" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The magnitude of the measurement value in terms of
                            the unit specified in the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PQ">
        <xs:annotation>
            <xs:documentation>
                A dimensioned quantity expressing the result of a
                measurement act.
            </xs:documentation>
            <xs:appinfo>
                <diff>PQ</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q65:QTY" xmlns:q65="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translation" type="q65:PQR">
                        <xs:annotation>
                            <xs:documentation>
                                An alternative representation of the same physical
                                quantity expressed in a different unit, of a different
                                unit code system and possibly with a different value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="value" type="q65:real" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The magnitude of the quantity measured in terms of
                            the unit.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="1" name="unit" type="q65:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The unit of measure specified in the Unified Code for
                            Units of Measure (UCUM)
                            [http://aurora.rg.iupui.edu/UCUM].
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MO">
        <xs:annotation>
            <xs:documentation>
                A monetary amount is a quantity expressing the amount of
                money in some currency. Currencies are the units in which
                monetary amounts are denominated in different economic
                regions. While the monetary amount is a single kind of
                quantity (money) the exchange rates between the different
                units are variable. This is the principle difference
                between physical quantity and monetary amounts, and the
                reason why currency units are not physical units.
            </xs:documentation>
            <xs:appinfo>
                <diff>MO</diff>
                <sch:pattern name="validate MO">
                    <sch:rule abstract="true" id="rule-MO">
                        <sch:report test="not(@nullFlavor and (@value or @currency))"/>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q66:QTY" xmlns:q66="urn:hl7-org:v3">
                <xs:attribute name="value" type="q66:real" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The magnitude of the monetary amount in terms of the
                            currency unit.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="currency" type="q66:cs" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The currency unit as defined in ISO 4217.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RTO">
        <xs:annotation>
            <xs:documentation>
                A quantity constructed as the quotient of a numerator
                quantity divided by a denominator quantity. Common
                factors in the numerator and denominator are not
                automatically cancelled out. supports titers
                (e.g., &quot;1:128&quot;) and other quantities produced by
                laboratories that truly represent ratios. Ratios are
                not simply &quot;structured numerics&quot;, particularly blood
                pressure measurements (e.g. &quot;120/60&quot;) are not ratios.
                In many cases REAL should be used instead
                of .
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q67:RTO_QTY_QTY" xmlns:q67="urn:hl7-org:v3"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="probability">
        <xs:annotation>
            <xs:documentation>
                The probability assigned to the value, a decimal number
                between 0 (very uncertain) and 1 (certain).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EIVL.event">
        <xs:annotation>
            <xs:documentation>
                A code for a common (periodical) activity of daily
                living based on which the event related periodic
                interval is specified.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:restriction base="q68:CE" xmlns:q68="urn:hl7-org:v3">
                <xs:attribute name="code" type="q68:TimingEvent" use="optional"/>
                <xs:attribute fixed="2.16.840.1.113883.5.139" name="codeSystem" type="q68:uid"/>
                <xs:attribute fixed="TimingEvent" name="codeSystemName" type="q68:st"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SXCM_TS">
        <xs:complexContent mixed="false">
            <xs:extension base="q69:TS" xmlns:q69="urn:hl7-org:v3">
                <xs:attribute default="I" name="operator" type="q69:SetOperator" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A code specifying whether the set component is included
                            (union) or excluded (set-difference) from the set, or
                            other set operations with the current set component and
                            the set as constructed from the representation stream
                            up to the current point.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="set_TelecommunicationAddressUse">
        <xs:list itemType="q70:TelecommunicationAddressUse" xmlns:q70="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:simpleType name="set_PostalAddressUse">
        <xs:list itemType="q71:PostalAddressUse" xmlns:q71="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:simpleType name="set_EntityNamePartQualifier">
        <xs:list itemType="q72:EntityNamePartQualifier" xmlns:q72="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:complexType name="IVL_TS">
        <xs:complexContent mixed="false">
            <xs:extension base="q73:SXCM_TS" xmlns:q73="urn:hl7-org:v3">
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="low" type="q73:IVXB_TS">
                            <xs:annotation>
                                <xs:documentation>
                                    The low limit of the interval.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice minOccurs="0">
                            <xs:element maxOccurs="1" minOccurs="0" name="width" type="q73:PQ">
                                <xs:annotation>
                                    <xs:documentation>
                                        The difference between high and low boundary. The
                                        purpose of distinguishing a width property is to
                                        handle all cases of incomplete information
                                        symmetrically. In any interval representation only
                                        two of the three properties high, low, and width need
                                        to be stated and the third can be derived.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="high" type="q73:IVXB_TS">
                                <xs:annotation>
                                    <xs:documentation>
                                        The high limit of the interval.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="high" type="q73:IVXB_TS">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                    </xs:element>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="width" type="q73:PQ">
                            <xs:annotation>
                                <xs:documentation>
                                    The difference between high and low boundary. The
                                    purpose of distinguishing a width property is to
                                    handle all cases of incomplete information
                                    symmetrically. In any interval representation only
                                    two of the three properties high, low, and width need
                                    to be stated and the third can be derived.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="high" type="q73:IVXB_TS">
                            <xs:annotation>
                                <xs:documentation>
                                    The high limit of the interval.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="center" type="q73:TS">
                            <xs:annotation>
                                <xs:documentation>
                                    The arithmetic mean of the interval (low plus high
                                    divided by 2). The purpose of distinguishing the center
                                    as a semantic property is for conversions of intervals
                                    from and to point values.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="width" type="q73:PQ">
                            <xs:annotation>
                                <xs:documentation>
                                    The difference between high and low boundary. The
                                    purpose of distinguishing a width property is to
                                    handle all cases of incomplete information
                                    symmetrically. In any interval representation only
                                    two of the three properties high, low, and width need
                                    to be stated and the third can be derived.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IVXB_TS">
        <xs:complexContent mixed="false">
            <xs:extension base="q74:TS" xmlns:q74="urn:hl7-org:v3">
                <xs:attribute default="true" name="inclusive" type="q74:bl" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies whether the limit is included in the
                            interval (interval is closed) or excluded from the
                            interval (interval is open).
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="set_EntityNameUse">
        <xs:list itemType="q75:EntityNameUse" xmlns:q75="urn:hl7-org:v3"/>
    </xs:simpleType>
    <xs:complexType name="RTO_QTY_QTY">
        <xs:annotation>
            <xs:appinfo>
                <diff>RTO_QTY_QTY</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="q76:QTY" xmlns:q76="urn:hl7-org:v3">
                <xs:sequence>
                    <xs:element name="numerator" type="q76:QTY">
                        <xs:annotation>
                            <xs:documentation>
                                The quantity that is being divided in the ratio. The
                                default is the integer number 1 (one).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="denominator" type="q76:QTY">
                        <xs:annotation>
                            <xs:documentation>
                                The quantity that devides the numerator in the ratio.
                                The default is the integer number 1 (one).
                                The denominator must not be zero.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>