cdxconnector/src/main/resources/wsdl/CDASubmit/CDASubmit34.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ex="urn:hl7-org/v3-example"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CDASubmit3.xsd"/>
    <!--xs:include schemaLocation="CDASubmit57.xsd"/--> <!-- HACK: Commented to generate the Java classes correctly -->
    <xs:include schemaLocation="CDASubmit29.xsd"/>
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.1. Stylesheets:

            StaticMifToXsd.xsl version 2.0
        </xs:documentation>
    </xs:annotation>
    <xs:complexType name="COCT_MT490000UV04.BillableClinicalProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="product" type="COCT_MT490000UV04.Product"/>
            <xs:element maxOccurs="1" minOccurs="0" name="referrer" nillable="true" type="COCT_MT490000UV04.Referrer"/>
            <xs:element maxOccurs="1" minOccurs="0" name="consultant" nillable="true"
                        type="COCT_MT490000UV04.Consultant"/>
            <xs:element maxOccurs="1" minOccurs="0" name="origin" nillable="true" type="COCT_MT490000UV04.Origin"/>
            <xs:element maxOccurs="1" minOccurs="0" name="destination" nillable="true"
                        type="COCT_MT490000UV04.Destination"/>
            <xs:element maxOccurs="1" minOccurs="1" name="location" type="COCT_MT490000UV04.Location"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation" nillable="true"
                        type="COCT_MT490000UV04.PertinentInformation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Consultant">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="healthCareProvider" nillable="true"
                        type="COCT_MT490000UV04.HealthCareProvider"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationConsultant" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.ContentPackagedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="RTO_PQ_PQ"/>
            <xs:element maxOccurs="1" minOccurs="0" name="containedManufacturedMaterial" nillable="true"
                        type="COCT_MT490000UV04.ManufacturedMaterial"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Destination">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDestination" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Diagnosis">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
            <xs:element maxOccurs="1" minOccurs="1" name="value" type="CE"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.HealthCareProvider">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="healthCareProviderPerson" nillable="true"
                        type="COCT_MT490000UV04.ProviderPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassHealthcareProvider" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.ManufacturedMaterial">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ST"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asWarrantor" nillable="true"
                        type="COCT_MT490000UV04.Warrantor"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contentPackagedProduct" nillable="true"
                        type="COCT_MT490000UV04.ContentPackagedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="x_DeterminerInstanceKind" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturedMaterial" nillable="true"
                        type="COCT_MT490000UV04.ManufacturedMaterial"/>
            <xs:element maxOccurs="1" minOccurs="0" name="manufacturerManufacturedProductOrganization" nillable="true"
                        type="COCT_MT490000UV04.ManufacturedProductOrganization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.ManufacturedProductOrganization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="name" type="ON"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Origin">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationOrigin" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.PertinentInformation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element maxOccurs="1" minOccurs="1" name="diagnosis" nillable="true"
                        type="COCT_MT490000UV04.Diagnosis"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Product">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturedProduct"
                        type="COCT_MT490000UV04.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.ProviderPerson">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="name" type="PN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="1" minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Referrer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="healthCareProvider" nillable="true"
                        type="COCT_MT490000UV04.HealthCareProvider"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationReferrer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.Warrantor">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warrantingWarrantorOrganization" nillable="true"
                        type="COCT_MT490000UV04.WarrantorOrganization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassWarrantedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT490000UV04.WarrantorOrganization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="name" type="ON"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
</xs:schema>