cdxconnector/src/main/resources/wsdl/CDASubmit/CDASubmit38.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ex="urn:hl7-org/v3-example"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CDASubmit3.xsd"/>
    <!--xs:include schemaLocation="CDASubmit57.xsd"/--> <!-- HACK: Commented to generate the Java classes correctly -->
    <xs:include schemaLocation="CDASubmit29.xsd"/>
    <xs:include schemaLocation="CDASubmit39.xsd"/>
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.1. Stylesheets:

            StaticMifToXsd.xsl version 2.0
        </xs:documentation>
    </xs:annotation>
    <xs:complexType name="COCT_MT600000UV06.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="healthCareProvider" nillable="true"
                        type="COCT_MT600000UV06.HealthCareProvider"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Destination">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDestination" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Diagnosis">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
            <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="value" type="CD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.HealthCareProvider">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="healthCareProviderPerson" nillable="true"
                        type="COCT_MT600000UV06.ProviderPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassHealthcareProvider" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.InFulfillmentOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="prescriptionOrder"
                        type="COCT_MT600000UV06.PrescriptionOrder"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation"
                        type="COCT_MT240000UV01.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="manufacturedVisionProduct" nillable="true"
                        type="COCT_MT600000UV06.VisionProduct"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="productOf" nillable="true"
                        type="COCT_MT600000UV06.Product2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Origin">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationOrigin" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Performer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="healthCareProvider" nillable="true"
                        type="COCT_MT600000UV06.HealthCareProvider"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.PertinentInformation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element maxOccurs="1" minOccurs="1" name="diagnosis" nillable="true"
                        type="COCT_MT600000UV06.Diagnosis"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.PertinentInformation1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="visionPrescriptionObservationEvent" nillable="true"
                        type="COCT_MT600000UV06.VisionPrescriptionObservationEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.PertinentInformation2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="prescriptionIntent" nillable="true"
                        type="COCT_MT600000UV06.PrescriptionIntent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.PrescriptionIntent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="inFulfillmentOf" type="COCT_MT600000UV06.InFulfillmentOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.PrescriptionOrder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="author" nillable="true" type="COCT_MT600000UV06.Author"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Product">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturedProduct"
                        type="COCT_MT600000UV06.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.Product2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="supplyObservationEvent" nillable="true"
                        type="COCT_MT600000UV06.SupplyObservationEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.ProviderPerson">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="PN"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.SupplyEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="2" minOccurs="1" name="product" type="COCT_MT600000UV06.Product"/>
            <xs:element maxOccurs="1" minOccurs="0" name="performer" nillable="true"
                        type="COCT_MT600000UV06.Performer"/>
            <xs:element maxOccurs="1" minOccurs="0" name="origin" nillable="true" type="COCT_MT600000UV06.Origin"/>
            <xs:element maxOccurs="1" minOccurs="0" name="destination" nillable="true"
                        type="COCT_MT600000UV06.Destination"/>
            <xs:element maxOccurs="1" minOccurs="1" name="location" type="COCT_MT600000UV06.Location"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation1" nillable="true"
                        type="COCT_MT600000UV06.PertinentInformation1"/>
            <xs:element maxOccurs="1" minOccurs="1" name="pertinentInformation2" nillable="true"
                        type="COCT_MT600000UV06.PertinentInformation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation3" nillable="true"
                        type="COCT_MT600000UV06.PertinentInformation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.SupplyObservationEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="targetSiteCode" type="CD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.VisionPrescriptionObservationEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
            <xs:element maxOccurs="1" minOccurs="1" name="value" type="ANY"/>
            <xs:element maxOccurs="1" minOccurs="1" name="targetSiteCode" type="CD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT600000UV06.VisionProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="EN"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
</xs:schema>