cdxconnector/src/main/resources/wsdl/CDASubmit/CDASubmit61.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ex="urn:hl7-org/v3-example"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CDASubmit60.xsd"/>
    <xs:include schemaLocation="CDASubmit57.xsd"/>
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.1. Stylesheets:

            StaticMifToXsd.xsl version 2.0
        </xs:documentation>
    </xs:annotation>
    <xs:complexType name="MCCI_MT000200UV01.Acknowledgement">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="expectedSequenceNumber" type="INT"/>
            <xs:element maxOccurs="1" minOccurs="0" name="messageWaitingNumber" type="INT"/>
            <xs:element maxOccurs="1" minOccurs="0" name="messageWaitingPriorityCode" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="1" name="targetMessage" nillable="true"
                        type="MCCI_MT000200UV01.TargetMessage"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="acknowledgementDetail" nillable="true"
                        type="MCCI_MT000200UV01.AcknowledgementDetail"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="AcknowledgementType" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.AcknowledgementDetail">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" type="ST"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="AcknowledgementDetailType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Agent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="representedOrganization" nillable="true"
                        type="MCCI_MT000200UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassAgent" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.AttentionLine">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="keyWordText" type="SC"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="ANY"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Device">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="1" minOccurs="0" name="manufacturerModelName" type="SC"/>
            <xs:element maxOccurs="1" minOccurs="0" name="softwareName" type="SC"/>
            <xs:element maxOccurs="1" minOccurs="0" name="asAgent" nillable="true" type="MCCI_MT000200UV01.Agent"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asLocatedEntity" nillable="true"
                        type="MCCI_MT000200UV01.LocatedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.EntityRsp">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.LocatedEntity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="location" nillable="true" type="MCCI_MT000200UV01.Place"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Message">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="1" name="creationTime" type="TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="securityText" type="ST"/>
            <xs:element maxOccurs="1" minOccurs="0" name="versionCode" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="interactionId" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="profileId" type="II"/>
            <xs:element maxOccurs="1" minOccurs="1" name="processingCode" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="processingModeCode" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="acceptAckCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attachmentText" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="receiver" type="MCCI_MT000200UV01.Receiver"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="respondTo" nillable="true"
                        type="MCCI_MT000200UV01.RespondTo"/>
            <xs:element maxOccurs="1" minOccurs="1" name="sender" type="MCCI_MT000200UV01.Sender"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attentionLine" nillable="true"
                        type="MCCI_MT000200UV01.AttentionLine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="acknowledgement" nillable="true"
                        type="MCCI_MT000200UV01.Acknowledgement"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Organization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="1" minOccurs="0" name="notificationParty" nillable="true"
                        type="COCT_MT040203UV01.NotificationParty"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Place">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Receiver">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="1" minOccurs="1" name="device" type="MCCI_MT000200UV01.Device"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RCV" name="typeCode" type="CommunicationFunctionType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.RespondTo">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="entityRsp" nillable="true"
                        type="MCCI_MT000200UV01.EntityRsp"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RSP" name="typeCode" type="CommunicationFunctionType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.Sender">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="1" minOccurs="1" name="device" type="MCCI_MT000200UV01.Device"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="SND" name="typeCode" type="CommunicationFunctionType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MCCI_MT000200UV01.TargetMessage">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
</xs:schema>