cdxconnector/src/main/resources/wsdl/CDASubmit/CDASubmit35.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ex="urn:hl7-org/v3-example"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CDASubmit57.xsd"/> <!-- HACK: Commented to generate the Java classes correctly -->
    <xs:include schemaLocation="CDASubmit29.xsd"/>
    <xs:include schemaLocation="CDASubmit36.xsd"/>
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.1. Stylesheets:

            StaticMifToXsd.xsl version 2.0
        </xs:documentation>
    </xs:annotation>
    <xs:complexType name="COCT_MT300000UV04.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="prescriberRole" nillable="true"
                        type="COCT_MT300000UV04.PrescriberRole"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Destination">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDestination" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.HealthCareProvider">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassHealthcareProvider" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.InFulfillmentOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="substanceAdministrationOrder" nillable="true"
                        type="COCT_MT300000UV04.SubstanceAdministrationOrder"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.ManufacturedMaterialKind">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="formCode" type="CE"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="RTO_PQ_PQ"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturedMaterialKind" nillable="true"
                        type="COCT_MT300000UV04.ManufacturedMaterialKind"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Origin">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" nillable="true"
                        type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationOrigin" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Performer1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="healthCareProvider" nillable="true"
                        type="COCT_MT300000UV04.HealthCareProvider"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Performer2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="substitutionRole" nillable="true"
                        type="COCT_MT300000UV04.SubstitutionRole"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.PertinentInformation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="substitution" nillable="true"
                        type="COCT_MT300000UV04.Substitution"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.PertinentInformation2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="substitution" nillable="true"
                        type="COCT_MT300000UV04.Substitution"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.PrescriberPerson">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="PN"/>
            <xs:element maxOccurs="3" minOccurs="0" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.PrescriberRole">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="1" name="playingPrescriberPerson" nillable="true"
                        type="COCT_MT300000UV04.PrescriberPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Product">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturedProduct" nillable="true"
                        type="COCT_MT300000UV04.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Reason">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="supplyOrder" nillable="true"
                        type="COCT_MT300000UV04.SupplyOrder"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Reason2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="substanceAdministrationIntent" nillable="true"
                        type="COCT_MT300000UV04.SubstanceAdministrationIntent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Subject">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="detectedMedicationIssue" nillable="true"
                        type="COCT_MT260003UV.DetectedMedicationIssue"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.SubstanceAdministrationIntent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="priorityCode" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="inFulfillmentOf" nillable="true"
                        type="COCT_MT300000UV04.InFulfillmentOf"/>
            <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation" nillable="true"
                        type="COCT_MT300000UV04.PertinentInformation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf" nillable="true"
                        type="COCT_MT300000UV04.Subject"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.SubstanceAdministrationOrder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="author" nillable="true" type="COCT_MT300000UV04.Author"/>
            <xs:element maxOccurs="1" minOccurs="0" name="reason" nillable="true" type="COCT_MT300000UV04.Reason"/>
            <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation" nillable="true"
                        type="COCT_MT300000UV04.PertinentInformation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.Substitution">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="reasonCode" type="CS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="performer" nillable="true"
                        type="COCT_MT300000UV04.Performer2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSubstitution" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.SubstitutionRole">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.SupplyEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="1" minOccurs="1" name="effectiveTime" type="TS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="quantity" type="PQ"/>
            <xs:element maxOccurs="1" minOccurs="0" name="expectedUseTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="product" nillable="true" type="COCT_MT300000UV04.Product"/>
            <xs:element maxOccurs="1" minOccurs="0" name="performer" nillable="true"
                        type="COCT_MT300000UV04.Performer1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="origin" nillable="true" type="COCT_MT300000UV04.Origin"/>
            <xs:element maxOccurs="1" minOccurs="0" name="destination" nillable="true"
                        type="COCT_MT300000UV04.Destination"/>
            <xs:element maxOccurs="1" minOccurs="1" name="location" type="COCT_MT300000UV04.Location"/>
            <xs:element maxOccurs="1" minOccurs="1" name="reasonOf" nillable="true" type="COCT_MT300000UV04.Reason2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT300000UV04.SupplyOrder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="repeatNumber" type="IVL_INT"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
</xs:schema>